.intro-edit{
   overflow: hidden; 
   
}

.content-edit{
    /* margin-top: 3%; */
    /* margin-left:; */
    padding-left: 7%;
    padding-top: 10%;
    text-align: left;
    /* margin-left: 1%; */
}

.img2{
    margin-right: 10%;
    height: 100%;
    width: 180%;
}
/* .but-edit{
    margin-left: 15%;
} */

.nopadding > div[class^="col-"] {
    padding-right: 0;
    padding-left: 0;
}
